html(xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="en")
    head
        meta(http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8")/
        title= title
        style(type="text/css").
            body {text-align: center; padding:0; margin: 0;}
            div {text-align: center; padding:0; margin: 0;}
            img {padding:0; margin: 0; height: 100%;}
    body(id="cover" style="text-align: center;" epub:type="cover")
        div
            img(id="img-cover" src=coverImage.src alt=coverImage.alt)/