extends layout
append config
    - var epubTypes = ['cover']
    - var roles = ['doc-cover']
    - var labelledby = 'coverText'
block content
    svg(style="height: 95vh; width: 95vw" xmlns="http://www.w3.org/2000/svg" height="98%" preserveAspectRatio="xMidYMid meet" version="1.1" width="100%" xmlns:xlink="http://www.w3.org/1999/xlink")
        text#coverText.sr-only #{subtitle ? title + ': ' + subtitle : title}
        image(height="100%" width="100%" xlink:href='../' + coverImage.src)/