<?xml version="1.0" encoding="UTF-8"?>
doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    link(type='text/css', href='../css/shared-culture.css', rel='stylesheet')
    script(src='../script/shared.js', type='text/javascript')
    block head
  body
    block content