include ./config
block config
include ./mixins/mixins.pug
<?xml version="1.0" encoding="UTF-8"?>
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops")
  head
    include ./partials/head
  body(id=filename, xml:lang='en', lang='en', epub:type=epubTypes.join(' '))
    .page
      block content
      include ./partials/footer
    block scripts