<?xml version="1.0" encoding="UTF-8"?>
doctype html
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops"
    xmlns:ev="http://www.w3.org/2001/xml-events"
    epub:prefix="media: http://idpf.org/epub/vocab/media/#")
  head
    meta(charset='utf-8')
    link(type='text/css', href='../css/shared-culture.css', rel='stylesheet')
    script(src='../script/shared.js', type='text/javascript')
    block head
  body
    block content