<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://www.idpf.org/2007/opf" version="3.0" xml:lang="en" unique-identifier="uid" prefix="cc: http://creativecommons.org/ns#">
  <metadata xmlns:dc="http://purl.org/dc/elements/1.1/">
    <dc:title id="title">{{title}}</dc:title>
    <dc:creator>{{creator}}</dc:creator>
    <dc:identifier id="uid">{{identifier}}</dc:identifier>
    <dc:language>{{language}}</dc:language>
    <meta property="dcterms:modified">{{modified}}</meta>
    <dc:publisher>{{publisher}}</dc:publisher>  
    <dc:contributor>{{contributor}}</dc:contributor>
  </metadata>
  <manifest>
 {{#assets}}
     <item id="{{id}}" href="{{& href}}" media-type="{{& mediaType}}"/>
  {{/assets}}
  </manifest>
  <spine>
    {{#files}}
    <itemref idref="{{.}}"/>
    {{/files}}
  </spine>
</package>
