extends layout
append config
    - var epubTypes = ['toc', 'frontmatter']
    - var roles = ['doc-toc']
    - var pageTitle = 'Table of Contents'
block content
    nav
        h1= pageTitle
        ol.tocNav
            if tocHeadings
                each item in tocHeadings
                    li
                        a(href=tocPages[item.fileID] + '#' + item.id)=item.text
            else
                each file in files
                    if pages[file]
                        li
                            a(href=file + ".xhtml")= pages[file].toc.text