<?xml version="1.0" encoding="UTF-8" standalone="no"?>
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops")
    head
      meta(charset="utf-8")/
      title= title.main
    body
        nav(id="toc" epub:type="toc")
            h2 Table of Contents
            ol.tocNav
                each file in files
                    if pages[file]
                        li
<<<<<<< Updated upstream
                            a(href=file + ".xhtml")
                                span.toc-label= pages[file].toc
=======
                            a(href=file + ".xhtml")= pages[file].toc.text
>>>>>>> Stashed changes
