extends layout
append config
    - var epubTypes = ['frontmatter']
    - var pageTitle = 'Table of Contents'
block content
    nav(role='doc-toc', epub:type="toc")
        h1= pageTitle
        ol.tocNav
            each file in files
                if pages[file]
                    li
                        a(href=file + ".xhtml")= pages[file].toc.text