<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops">
   <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" type="text/css" href="../css/styles.css" />
   </head>
   <body>
      <section class="base" id="toc">
         <nav epub:type="toc">
            <h2>table of contents</h2>
            <ol>
            {{#files}}
               <li>
                  <a href="{{.}}.xhtml">
                     <span class="toc-label">{{.}}</span>
                  </a>
               </li>
               {{/files}}
            </ol>
         </nav>

      </section>
   </body>
</html>
