extends ../templates/layout
block content
  section.base
    h2 to save the world from failed sharing
    p Creative Commons is designed to save the world from failed sharing. People who actually want to share stuff, who put it up on the web because they want to share it under certain terms.
    video#video1(role='button', aria-controls='video1', autoplay='', controls='')
      source(src='../video/shared-culture.mp4', type='video/mp4')
      source(src='../video/shared-culture.webm', type='video/webm')
      track(src='../captions/cc-en.vtt', srclang='en', kind='subtitles', label='English')
      track(src='../captions/cc-fr.vtt', srclang='fr', kind='subtitles', label='Français')
      .errmsg
        p Your Reading System does not support (this) video.
        pre
          code 
  <video id="video1"autoplay="" role="button" aria-controls="video1" controls="">
  <source src="../video/shared-culture.mp4" type="video/mp4"></source>
  <source src="../video/shared-culture.webm" type="video/webm"></source>
  <track src="../captions/cc-en.vtt" srclang="en" kind="subtitles" label="English"></track>
  <track src="../captions/cc-fr.vtt" srclang="fr" kind="subtitles" label="Français"></track>
  </video>
                  
    p So we wanted to create a simple way, for creators to say to the world here's the freedom that I want to run with my creative work. Here are the things you're allowed to do. Can I reproduce it, can I copy it, can I put it in my text book? Can I use that photograph? Can I make a new version of it? Creative Commons gives tools to creators to make a choice about copyright.
