extends ../templates/layout
block content
  section.base
    h2 a new kind of folk culture
    p So the idea here is to enable the creative impulses that the technology turns loose, and get the law out of the way. The work of Creative Commons is really about laying the infrastructure and ground work for this new type of culture.
    epub:trigger(ev:observer='pause', ev:event='click', action='pause', ref='video1')
      epub:trigger(ev:observer='resume', ev:event='click', action='resume', ref='video1')
        epub:trigger(ev:observer='mute', ev:event='click', action='mute', ref='video1')
          epub:trigger(ev:observer='mute', ev:event='click', action='show', ref='muted')
            epub:trigger(ev:observer='unmute', ev:event='click', action='unmute', ref='video1')
              epub:trigger(ev:observer='unmute', ev:event='click', action='hide', ref='muted')
                video#video1(role='button', aria-controls='video1')
                  source(src='../video/shared-culture.mp4', type='video/mp4')
                  source(src='../video/shared-culture.webm', type='video/webm')
                  .errmsg
                    p Your Reading System does not support (this) video.
                    pre
                      code 
                        <video id="video1" role="button" aria-controls="video1">
                          <source src="../video/shared-culture.mp4" type="video/mp4"></source>
                          <source src="../video/shared-culture.webm" type="video/webm"></source>
                        </video>
                p.trigger-ctrl(style='text-align: center;')
                  button.button#resume play
                  button.button#pause pause
                  button.button#mute mute
                  button.button#unmute unmute
                  br
                  button#muted(disabled='', style='visibility:hidden') MUTED
                p A new kind of Folk Culture. Somebody from Delhi, somebody from New York, somebody from Singapore, can feel comfortable using photo that was created and given away by somebody in The United States, or in China, or wherever that the licenses have been extended to. With their identity being preserved. Which means that people can actually create new kinds of things, come together and build things.
