extends ../templates/layout
append config
    - var epubTypes = ['titlepage']
    - var hasHeader = false

block content
    #ticTacToe
append scripts
    script(src='../script/main.js' type='text/javascript')