extends ../templates/layout
append config
    - var pageTitle = 'Chapter 1'

block content
    header
        h1#page01.level-1=pageTitle
    article
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga veritatis quia vel. Nobis neque ab dolor placeat possimus? Culpa blanditiis velit hic voluptatem. Ad nulla quia laborum quod tempora? Ad?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reiciendis non pariatur explicabo fuga fugit, eveniet corporis laborum culpa mollitia possimus necessitatibus, expedita harum est ratione libero! Voluptatem, neque sapiente!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, rem nulla? Qui dolores aut quam earum, in inventore reprehenderit, nulla consectetur blanditiis, quibusdam facilis tenetur similique! Minima quae deserunt sit.
        h2#second-heading Test
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit debitis, exercitationem optio sequi laborum quibusdam? Quae aliquid laboriosam, qui pariatur dolor obcaecati, tenetur nam explicabo, accusantium cumque repudiandae adipisci beatae.
        h3#third-heading Three