extends ../templates/layout
block header
  +pageSectionMarker(title)
  .page__heading
    h1.page__headingText
      span.page__headingTextTitle Unit 1:
      span.page__headingTextSubtitle Table of Contents
block content
  section.content.p-top-1
    section
      h2.align-center Workbook
      ul.toc
        li 
          span.h3 BASIC COURSE REVIEW
          span.toc__page 69
        li 
          span.h3 Listening Comprehension
          span.toc__page 79
        li 
          span.h3 Topic Presentation
          span.toc__page 87
          ul
            li
              span.h4 Working With The Text
              span.toc__page 87
              ul
                li
                  span.h5 Reading
                  span.toc__page 88
                li
                  span.h5 Comprehension Questions 
                  span.toc__page 90
            li
              span.h4 Vocabulary And Grammar
              span.toc__page 91
                ul
                  li
                    span.h5 Look and Learn
                    span.toc__page 91
                  li
                    span.h5 Key Words
                    span.toc__page 92
                  li
                    span.h5 Word Combinations
                    span.toc__page 96
                  li
                    span.h5 Increase / Decrease Verbs
                    span.toc__page 100
                  li
                    span.h5 The Verb
                    |
                    +russianText('НАБЛЮДАТЬСЯ')
                    span.toc__page 108
                  li
                    span.h5 Dative Case Review
                    span.toc__page 109
                  li
                    span.h5 Transitive/Intransitive Verbs
                    span.toc__page 114
                  li
                    span.h5 Contrasting Ideas
                    span.toc__page 118
            li
              span.h4 Skill Builder
              span.toc__page 121
        li
          span.h3 Extension
          span.toc__page 123
        li
          span.h3 Quiz
          span.toc__page 131
        li
          span.h3 Glossary
          span.toc__page 137
        li
          span.h3 Answer Keys
          span.toc__page 143
        li
          span.h3 Audio Scripts
          span.toc__page 153
        li
          span.h3 Appendix A: Conversational Formulae
          span.toc__page 157
        li
          span.h3 Appendix B: Sample Interview Questions
          span.toc__page 165
        li
          span.h3 Appendix C: Index Of Idioms
          span.toc__page 171