extends ../templates/layout
block header
  +pageSectionMarker('Textbook: Table of Contents')
  .page__heading
    h1.page__headingText
      span.page__headingTextTitle Unit 1:
      span.page__headingTextSubtitle Table of Contents
block content
  section.content.p-top-1
    h2.align-center Table of Contents
    section.m-top-1
      h2.align-center Textbook
      ul.toc
        li
          span.h3 Unit Overview
          span.toc__page 5
        li 
          span.h3 Basic Course Review
          span.toc__page 9
        li 
          span.h3 Listening Comprehension
          span.toc__page 17
        li 
          span.h3 Topic Presentation
          span.toc__page 23
          ul
            li
              span.h4 Working With The Text
              span.toc__page 23
              ul
                li
                  span.h5 Reading
                  span.toc__page 24
                li
                  span.h5 Comprehension Questions 
                  span.toc__page 26
                li
                  span.h5 True or False Questions 
                  span.toc__page 27
                li
                  span.h5 Outline
                  span.toc__page 28
                li
                  span.h5 Discussion Questions
                  span.toc__page 29
                li
                  span.h5 Synthesizing
                  span.toc__page 30
            li
              span.h4 Vocabulary And Grammar
              span.toc__page 32
                ul
                  li
                    span.h5 Look and Learn
                    span.toc__page 32
                  li
                    span.h5 Word Combinations
                    span.toc__page 35
                  li
                    span.h5 Increase / Decrease Verbs
                    span.toc__page 37
                  li
                    span.h5 The Verb
                    |
                    +russianText('НАБЛЮДАТЬСЯ')
                    span.toc__page 42                    
                  li
                    span.h5 Dative Case Review
                    span.toc__page 43
                  li
                    span.h5 Transitive/Intransitive Verbs
                    span.toc__page 45
                  li
                    span.h5 Contrasting Ideas
                    span.toc__page 47
            li
              span.h4 Skill Builder
              span.toc__page 51
                ul
                  li
                    span.h5 Interview
                    span.toc__page 56
        li
          span.h3 Extension
          span.toc__page 57
        li
          span.h3 Discussion
          span.toc__page 64
