extends ../templates/layout
block header
  +pageSectionMarker(title)
  .page__heading
    h1.page__headingText
        span.page__headingTextTitle.p-left-2 Symbols Used
block content
  section.content.p-left-2
    h3 Throughout the course you will see the following symbols:
    .grid.p-top-1.p-bottom-1
      .row
        .span-2-of-12
          .box.box--blue.box--round
            p.small Workbook Ex. 6
        .span-10-of-12
          p complete the exercise in the Workbook before the activity
      .row
        .span-2-of-12
          .box.box--blue.box--round
            p.small 
              strong Bonus
        .span-10-of-12
          p optional activity
      .row
        .span-2-of-12
          .box.box--blue.box--round
            p.small 
              strong Interview
        .span-10-of-12
          p conduct an interview
      .row
        .span-2-of-12
          .box
            img(src="../images/img-006.jpg" alt="a gray icon depicting a home with a roof and chimney" style="width:50px;")
        .span-10-of-12
          p prepare for the activity at home      
      .row
        .span-2-of-12
          .box
            img(src="../images/img-004.jpg" alt="the seal of the US Department of State")
        .span-10-of-12
          p practice job-related language skills
      .row
        .span-2-of-12
          .box
            img(src="../images/img-002.jpg" alt="the letters S M A R T in a playful font")
        .span-10-of-12
          p click on the icon to do a Smart Board activity
      .row
        .span-2-of-12
          .box
            img(src="../images/img-067.jpg" alt="an icon depicting a speaker producing sound")
        .span-10-of-12
          p click on the icon to listen to the audio
      .row
        .span-2-of-12
          .box.box--blue.box--round
            img(src="../images/img-003.jpg" alt="the seal of the US Department of State")
        .span-10-of-12
          p click on the icon to listen to the audio
    h3 Copyright
    p Texts and graphics in this work are created by Alla Lamp, Iryna Shcherbak, and Anna Stolpe.
    p Graphics and stock photos are licensed by Shutterstock 
    p Icons are courtesy of Smart Notebook, Department of State, Shutterstock, and Anna Stolpe.
    p Attribution appears on p. 175 
