extends ../templates/layout
block header
  +pageSectionMarker('Textbook: Unit Outline')
  +pageHeading('Unit Outline')
block content
  section.content
    .grid
      .row
        .span-3-of-12
          h2 Basic Course Review
        .span-9-of-12
          p.justified This section serves as an introduction to the unit topic. It focuses on activating your knowledge of the vocabulary related to the topic. Basic Course Review allows you to practice areas of the language which are often challenging for learners of Russian.  
      .row
        .span-3-of-12
          h2 Listening  Comprehension
        .span-9-of-12
          p.justified This section focuses on improving comprehension of spoken Russian. You will listen to interviews with Russian speakers who are experts in their field.  You will develop the following skills: listening for specific information, listening for the gist, note-taking, and summarizing information in Russian. This section introduces professional terminology, idiomatic language, and social formulae. There are also discussion activities that allow you to respond to the content of the recordings.
      .row
        .span-3-of-12
          h2 Topic  Presentation
        .span-9-of-12
          p.justified This is the core section of the unit. It introduces the main topic which provides a context for the language work and discussion. Throughout the course you will work with a variety of texts, including articles, interviews, lectures, blog publications, etc. You will practice your reading and summarizing skills. You will discuss and respond to the ideas presented in these texts. The focus is on vocabulary building, grammatical accuracy, and cohesion.
      .row
        .span-3-of-12
          h2 Skill Builder
        .span-9-of-12
          p.justified In this section you will continue discussing the unit topic. This section focuses on the development of communication skills, including responding to critical statements, agreeing or disagreeing, conducting an interview, and presenting data orally. You will practice these skills by completing Q&A activities, conducting interviews, and delivering brief reports.
      .row
        .span-3-of-12
          h2 Extension
        .span-9-of-12
          p.justified In this section you will examine additional topics. This section focuses on developing your ability to respond to questions and pointed statements which have been adapted from the Russian language blogosphere. The Extension introduces more idiomatic language than any other part of the unit. This section allows for maximum flexibility: you can select topics and activities that interest you the most.
      .row
        .span-3-of-12
          h2 Discussion
        .span-9-of-12
          p.justified Each unit ends with a Discussion. It allows you to demonstrate the language and communication skills which you have acquired throughout the unit.  You will explain a topic or an issue, present your arguments, ask and answer follow-up questions, and moderate a discussion.